* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-image: url(../scholarships/images/9.png);
    
    background-size: 1365px 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#c3c4ce;
  /**  #c0c3d6;*/
   

}

nav {
    background: rgb(48, 0, 66);
    padding: 5px 20px;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item a:hover {
    text-decoration:none;
    color: rgb(160, 158, 158);
}
/**
.logo a:hover {
    text-decoration: none;
}*/

.menu li {
    font-size: 14px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}



/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    font-weight: 500;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


/* Navbar Toggle */

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.bars:before,
.bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 5px;
}

.bars:after {
    top: -5px;
}


/* Tablet menu */

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
        font-weight: 500;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 45px;
        color: rgb(5, 5, 49);
        background: rgb(252, 252, 6);
        border: 1px rgb(252, 252, 6) solid;
        border-radius: 500rem;

    }
    .button.secondary a {
        background: transparent;
        color: #ffffff;
    }
    .button a:hover {
        text-decoration:none;
        transition:all .25s;
        color: rgb(5, 5, 49);
    }
    .button:not(.secondary) a:hover {
        background:rgba(255, 208, 0, 0.952);
        border-color: rgba(255, 208, 0, 0.952);
    }
    .button.secondary a:hover {
       color: #999;
       border-color: #999;
    }
    
}

/* Desktop menu */

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 12px;
    }
    .menu li.button {
        padding-right: 0;
    }
}