.budd{
    text-align: center;
}
#two{
    float: left;
    padding: 20px 20px;
    margin-left: 240px;
}


#one{
    width: 800px;
    margin-left: 300px;
}
.buttonss{
    background-color: rgb(170, 170, 170);
    border: 7px rgb(73, 73, 73) solid;
    font-size: 20px;
    height: 70px;
    width: 240px;
    border-radius: 15px;
}
.buttonss:hover{
    background-color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.1);
}